.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.highlight-label {
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgb(0 0 0 / 87%);
}
.highlight-input {
  padding: 8px 15px;
  outline: none;
  border: 1px solid #e2e2e1;
  border-radius: 8px;
  margin-bottom: 32px;
}
i.highlight {
  font-style: normal;
  color: #ff22e9;
}
.highlight-wrapper {
  display: flex;
}
